<section class="about-us">
    <div class="container">
      <h2>About Us</h2>
      <p>Welcome to .Net Cohort7 Mini-ECommerce, your number one source for all things fashion, electronics, and home essentials.</p>
      <p>Founded in 2025, we are dedicated to providing you with the best shopping experience, focusing on quality and customer satisfaction.</p>
      <p>you can visit this link <a href="http://localhost:4200/product">.Net Cohort7 Mini-ECommerce  </a> Or contact us By our contact page</p>
      &copy; 2025 YourWebsiteName. All rights reserved.  
    This website and its content are protected under copyright law. Unauthorized use or reproduction is prohibited.
    </div>
  </section>
